.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vh;
  border: 5px dotted red;
}

.category {
}

.title {
}

.description {
}

.price {
}

.add_to_cart {
}
